/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a::focus,a:active{outline: none;}
nav,footer,header,aside,{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 21px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 40;}
/*---------------------------*/

body{
	
	background: url("../img/S555.jpg") 0 0 no-repeat fixed;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;


}


h1{
	text-align: center;
	color: white;
	font-size: 40px;
	padding: 40px 0 0 0;
	text-shadow: 5px 5px 5px #8b00ff;


}
.back1{
border-radius: 15px;
box-shadow: 0 0 30px 15px #8b00ff;
padding: 20px;
text-align: center;
color: white;
margin:30px ;
font-size: 30px;
}
.back2{
	font-size: 25px;
}
.back3{
	font-size: 30px;
	display: block;
	border-radius: 15px;
	box-shadow: 0 0 15px 10px #8b00ff;
	margin: 35px 300px 35px 300px;
	padding: 10px;
}
.R1{
font-size: 45px;
}
.R21{
font-size: 25px;
border-radius: 15px;
box-shadow: 0 0 30px 15px #8b00ff;
margin:30px;
padding: 10px;

}
.R22{
font-size: 25px;
border-radius: 15px;
box-shadow: 0 0 30px 15px #8b00ff;
margin:30px;
padding: 10px;
}
.W1{
	font-size: 20px;
}